body {
	background-image: url(../img/15-fon-dlya-sayta.png);
	background-position: right top;
}
p {
	margin-left: inherit;
	margin-right: inherit;
	background-color: inherit;
}

td {
	border: 1px solid black;
	vertical-align: middle;
	padding: 5px;
}

review {
	font-size: 22px;
	font-family: Times, Arial, sans-serif;
	margin-left: 30px;
	margin-right: 70px;
}

.rvw {
	text-align: center;
	font-size: 35px;
	margin-bottom: 50px;
	margin-top: 0px;
	margin-left: inherit;
	margin-right: inherit;
	background-color: inherit;
}

.rvw2 {
	font-size: 22px;
	font-family: Times, Arial, sans-serif;
	margin-left: 30px;
	margin-right: 70px;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFEEC4;
}

.menu {
	background-color: #FFF8EE;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	width: 300px;
}

.menulinks{
	color: black;
}

.registr {
	margin-top: 10px;
	background-color: #ECF9FF;
	border: 1px solid black;
	border-collapse: collapse;
}

.tableHead {
	text-align: center;
}

.reviewlinks:link {
	color:black;
	text-decoration: none;
}

.reviewlinks:visited {
	text-decoration: none;
	color: gray;
}

.nextlink:hover {
	text-decoration: none;
}

.nextlink:visited {
	text-decoration: none;
	color: gray;
}

.gotocomments {
	text-align: right;
	border-bottom: 1px solid black;
	margin-left: 0;
}

.shortreview {
	background-color: #FFF4E0;
	margin-right: 100px
}

.catalog {
	list-style-image: url(../img/4.png);
}

.catalog2 {
	list-style-image: url(../img/forward.png);
}
/*
.cataloglink:link:after{
	content: "новое";
}

.cataloglink:visited:after{
	content: "вdsfhgар";
}
*/
.cataloglink {
	text-decoration: none;
	color: black;
}

.galleryimg {
	border: 3px solid black;
}

.galleryimg:hover {
	border: none;
	margin: 3px;
}

.inputtext {
	width: 150px;
}

.inputpswrd {
	width: 100px;
}

.inputemail:focus {
	background-color: green;
}

.clear:active {
	background-color: red;
}

.check:hover {
	border: 3px solid black;
}